<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#303030"/>
  
  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- ICON -->
  <link rel="icon" href="favicon.png">

  <!-- ICON LIKE -->
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <script src="https://kit.fontawesome.com/00bd906045.js" crossorigin="anonymous"></script>
  
  <!-- APP MANIFEST -->
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <!-- TITLE -->
  <title>Delizioso Resto</title>
</head>

<body>
  <a href="" class="skip-to-content" id="skipToContent" tabindex="0">Skip to content</a>
  <navigation-bar></navigation-bar>
  <hero-section></hero-section>

  <div id="loader__container" class="loader__container">
    <div class="loader"></div>
  </div>

  <main id="mainContent" tabindex="0"></main>
  <footer-section></footer-section>

  <script src="../scripts/index.js" type="module"></script>
</body>

</html>